.container{
    padding:15px 0;
    width:375px;
    box-sizing: border-box;
    .content{
        .item{
            width:170px;
            margin:0 6px;
            margin-bottom:25px;
            box-shadow: 2px 2px 10px #ddd;
            padding:10px 0;
        }
    }
    .title{
        font-size:14px;
        margin:5px 0;
        
    }
    .tags{
        span{
            background-color: #dcebe6;
            margin:5px;
        }
    }
    .price{
        text-align: left;
        padding-left:15px;
        margin:5px;
        .now-price{
            font-size:16px;
            font-weight: 700;
            color:#157658;
        }
        .pre-price{
            font-size:12px;
            color:#333;
            margin-left:20px;
            text-decoration:line-through
        }
    }
    .explain{
        font-size: 12px;
        color:#bbb;
        padding:0 5px;
    }
}